* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}
#l1{
    color: burlywood;
}
#l2 {
    color: rgb(238, 147, 147);
}
#l3 {
    color: rgb(124, 197, 231);
}